@model EductionFinalProject.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="about">
                <div class="about-top">
                    <div class="about-left">
                        <h3>Value and Affordability</h3>
                        <div class="left-img">
                            <img src="images/pic7.jpg" alt="" />
                        </div>
                        <div class="left-desc">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Product)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Product)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FatherName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FatherName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Contact)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Contact)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Course)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Course)
                                </dd>
                            </dl>



                            <div>
                                <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </div>


                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
    <h4>Student</h4>
    <hr />
   
